replicaCount: ${replica_count}

fullnameOverride: ${fullnameOverride}
namespace: ${namespace}

apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: backend
spec:
  serviceName: "backend"
  selector:
    matchLabels:
      app: backend # has to match .spec.template.metadata.labels
  updateStrategy:
    type: RollingUpdate
  replicas: ${replica_count} # by default is 1
  template:
    metadata:
      labels:
        app: backend # has to match .spec.selector.matchLabels
    spec:
      containers:
      - name: ${fullnameOverride}
        image:
          repository: ${docker_repository}
          tag: ${docker_tag}
          pullPolicy: Always
        ports:
        - name: http1
          protocol: TCP
          containerPort: 17000
          servicePort: 17000
        - name: http2
          protocol: TCP
          containerPort: 17001
          servicePort: 17001
        volumeMounts:
        - name: backend-efs
          mountPath: /db
        env:
          base:
            - name: TXINDEX
              value: "true"
            - name: GLOG_V
              value: "0"
            - name: ADMIN_PUBLIC_KEYS
              value: "BC1YLjUrkSFEW1XyfZ6JdbdVmDURFG3PxJmZ7LKw4zs6PCFLXKeM2YJ BC1YLfrvJwwAjDcL3Tq2spWbvXCJFadiDdJMyvCaeHgG7snSsYNRKXk BC1YLhKuj76oaT1wwGhfb9GX7rCyc9cxrx54v84fAn9EDuc9zDawgGf BC1YLh6WDX4uCw3pcT7pjEQG7UcLj1KS1SpG3hnLkWg11EiBGjAM6oP BC1YLfyqxLpXsiGt7HvgjaKBjCZjAev82HeM626Nw7zfuYowrY72fGP BC1YLhSkJo5dhiFK38eFdViXm1tsAVi1ZFdNroG1RoB8NJG4JnDLzNK BC1YLijaLPipTCt1rL8fx6Xxt1DGNrasqRsfhKPRihPneqbntpRCzQY"
            - name: SUPER_ADMIN_PUBLIC_KEYS
              value: "BC1YLjUrkSFEW1XyfZ6JdbdVmDURFG3PxJmZ7LKw4zs6PCFLXKeM2YJ BC1YLfrvJwwAjDcL3Tq2spWbvXCJFadiDdJMyvCaeHgG7snSsYNRKXk BC1YLhKuj76oaT1wwGhfb9GX7rCyc9cxrx54v84fAn9EDuc9zDawgGf BC1YLh6WDX4uCw3pcT7pjEQG7UcLj1KS1SpG3hnLkWg11EiBGjAM6oP BC1YLfyqxLpXsiGt7HvgjaKBjCZjAev82HeM626Nw7zfuYowrY72fGP BC1YLhSkJo5dhiFK38eFdViXm1tsAVi1ZFdNroG1RoB8NJG4JnDLzNK BC1YLijaLPipTCt1rL8fx6Xxt1DGNrasqRsfhKPRihPneqbntpRCzQY"
            #- name: POSTGRES_URI
            #  value: "postgres://${pg_username}:${pg_password}@${pg_hostname}:${pg_port}/${pg_name}"
            - name: RATE_LIMIT_FEERATE
              value: "0"
            - name: MIN_FEERATE
              value: "1000"
            - name: STARTER_BITCLOUT_NANOS
              value: "1000000"
            - name: MIN_SATOSHIS_FOR_PROFILE
              value: "50000"
            - name: DATA_DIR
              value: "/db"
            - name: SQS_URI
              value: "${sqs_uri}"
          perEnv: [ ]
      volumes:
        - name: backend-efs
          persistentVolumeClaim:
            claimName: backend-efs