name: ci

on:
  pull_request: {}
  push:
    branches:
      - main

jobs:
  go-fmt:
    name: go-fmt
    runs-on: ubuntu-20.04

    steps:
      - name: Install Go
        uses: actions/setup-go@v2
        with:
          go-version: "1.18"

      - name: Checkout branch
        uses: actions/checkout@v3

      # Fail if go-fmt recommends any changes.
      - name: Run go fmt
        run: if [ "$(gofmt -s -l . | wc -l)" -gt 0 ]; then exit 1; fi

  go-test:
    name: go-test
    runs-on: ubuntu-20.04

    steps:
      - name: Install go
        uses: actions/setup-go@v3
        with:
          go-version: "1.18"

      - name: Install os dependencies
        run: sudo apt-get install -y libvips-tools libvips-dev && vips -v

      - name: Checkout core
        uses: actions/checkout@v3
        with:
          repository: deso-protocol/core
          path: ./core

      - name: Checkout backend
        uses: actions/checkout@v3
        with:
          path: ./backend

      - name: Cache go dependencies
        uses: actions/cache@v3
        with:
          path: |
            ~/.cache/go-build
            ~/go/pkg/mod
          key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-go-

      - name: Run go test
        run: cd backend && go test -v ./routes
